################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/data/IMG
/run1
/model_2.h5
/model_1.h5
/model.h5
/test.png
